*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    width:100%;
    overflow-x: hidden;
}
body{
    width:100%;
    height:100%;
    margin:0px;
    max-width: 100%;
    overflow-x: hidden;
    background: url('../homepage-img/pexels-pixabay-220201.jpg') no-repeat center top fixed; 
    background-size: cover;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background-color: #8c8e8fd7;
}
::-webkit-scrollbar-thumb {
    background-color: #777f86;
    border-radius: 4px;
    border: 1px solid #282a2c;
}

/* Menu */
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:70px;
    width:100%;
    background-color: rgba(70, 66, 66, 0.418);
}
.header__logo{
    display:flex;
    justify-content: center;
    align-items: center;
    height:70px;
    width:10vh;
    font-size:2em;
    margin-left:5vw;
    font-weight:bolder;
    color:rgb(255, 166, 0);
    text-shadow: 0px 0px 8px rgba(189, 146, 4, 0.678);
}
.header__menu{
    display:flex;
    margin-right:8vw;
}
.header__menu__button{
    display: none;
    background-color: transparent;
    border:none;
    transition: .5s;
}
.button__line{
    width:20px;
    height:2px;
    margin:0;
    background-color: rgb(247, 243, 243);
    transition: .5s;
}
.header__menu__button:hover {
    background-color: rgba(179, 177, 177, 0.13);
    cursor: pointer;
}
.header__menu__button:hover .button__line{
    background-color: rgb(255, 166, 0);;
}
.header__menu__items{
    display:flex;
}
.header__menu__item{
    list-style: none;
}
.header__menu__item > a{
    display:flex;
    justify-content: center;
    align-items: center;
    height:70px;
    width:13vw;
    text-decoration: none;
    color:white;
    font-weight: 500;
    transition: .5s;
}
.header__menu__item > a:hover{
    cursor: pointer;
    background-color: rgba(179, 177, 177, 0.13);
    color:rgb(255, 166, 0);
}

/* Main content */
.main__info{
    display:flex;
    align-items: center;
    height:100vh;
}
.main__info__dev{
    height:350px;
    margin-left:100px;
}
.main__info__dev__presentation{
    color:rgb(255, 166, 0);
    font-size:1.6em;
    text-shadow: 2px 2px 15px black;
}
.main__info__dev__name{
    width:500px;
    font-size: 3.2em;
    text-shadow: 0px 0px 13px black;
    color:white;
}
.main__info__dev__name::after{
    content: '|';
    color:white;
    opacity:1;
    margin-left: 5px;
    text-shadow: 0px 0px 13px black;
    animation: pisca .7s infinite;
}
@keyframes pisca{
    0%{
        opacity:1;
    }
    50%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.main__info__dev__text__info{
    width:500px;
    margin: 5px auto 30px auto;
    color:rgb(235, 223, 192);
    font-size:1.2em;
    text-shadow: 1px 1px 20px black;
}
.main__info__dev__professional{
    width:500px;
    height: 45px;
    margin-top:42px;
}
.linkedln__button, .download__cv__button{
    height:45px;
    width:40%;
    padding:7.5px;
    background: none;
    border-radius: 8px;
    border:3px solid white;
    color:white;
    font-size:1.1em;
    font-weight:bold;
    transition: 0.4s;
}
.linkedln__button:hover, .download__cv__button:hover{
    background:rgb(180, 124, 19);
    border:3px solid rgb(180, 124, 19);
    cursor:pointer;
}
.download__cv__button{
    margin-left:20px;
}
.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:70px;
    background-color: rgb(255, 250, 250);
}
.website__information{
    color:rgb(32, 32, 32);
    font-weight:700;
}

/* Mobile */
@media only screen and (max-width:672px){
    html{
        width:100%;
        margin:0;
        overflow-x: hidden;
    }
    body{
        width:100vw;
        height:100vh;
        margin:0;
        max-width: 100vw;
        overflow-x: hidden;
    }
    .header{
        overflow-x: hidden;
    }
    .header__logo{
        font-size:1.5em;
        margin-left:7vw;
    }
    .header__menu{
        overflow-x: hidden;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
    }
    .header__menu__items{
        display:flex;
        position:absolute;
        flex-direction: column;
        width:0%;
        left:100%;
        height:0%;
        top:70px;
        visibility: hidden;
        overflow: hidden;
        background-color:rgba(39, 38, 38, 0.849);
        z-index: 9999;
        transition: 0.5s;
    }
    .header__menu.active .header__menu__items{
        display:flex;
        visibility: visible;
        width:100%;
        height:100%;
        left:0%;
        top:70px;
    }
    
    .header__menu__item, .header__menu__item > a{
        display:none;
        width:0%;
    }
    .header__menu.active .header__menu__item, .header__menu.active .header__menu__item > a{
        display:flex;
        width:100%;
    }
    .header__menu.active .header__menu__item > a{
        border-width: 0px 0px 0.01px 0px;
        border-color: rgba(122, 118, 118, 0.432);
        border-style: solid;
    }       
    .header__menu__button{
        position:relative;
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap:4px;
        align-items: center;
        height:70px;
        width:70px;
    }
    .header__menu.active .button__line{
        position:absolute;
        transform-origin: center;
        transform: rotate(45deg);
    }
    .header__menu.active .top__line{
        top:50%;
        left:50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .header__menu.active .middle__line{
        display:none;
    }
    .header__menu.active .bottom__line{
        top:50%;
        left:50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .main__info{
        height:fill-available;
    }
    .main__info__dev{
        width:92vw;
        margin:0px 4vw;
        font-size:0.8em;
    }
    .main__info__dev__name{
        font-size:2.6em;
    }
    .main__info__dev__text__info{
        width:100%;
        text-align:justify;
    }
    .main__info__dev__professional{
        display:flex;
        justify-content:space-between;
        width:100%;
    }
    .linkedln__button, .download__cv__button{
        width:46%;
    }
    .download__cv__button{
        margin:0;
    }
    .website__information{
        font-size:0.8em;
    }
}