*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    height:550px;
    background: url('./imgs/pexels-pixabay-220201.jpg');
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.header{  
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100vw;
    height:70px;  
    background-color:rgba(255, 255, 255, 0.13);
}

.header__logo{
    margin-left:50px;
    font-size:2em;
    font-weight:bolder;
    color:rgb(255, 166, 0);
    text-shadow: 0px 0px 8px rgba(189, 146, 4, 0.678);
}

.header__menu{
    height:70px;
}

.header__menu__items {
    display:flex;
    align-items: center;
    margin-right:120px;
    height:70px;
}

.header__menu__item{
    list-style: none;
}

nav > ul > li > a{
    display:block;
    height:70px;
    width:170px;
    padding:25px 60px 30px 60px;
    text-decoration: none;
    color: white;
    transition: 1s;
    font-size: 1.1em;
}

nav > ul > li > a:hover{
    cursor: pointer;
    color:rgb(255, 166, 0);
    background-color:rgba(179, 177, 177, 0.13);
}

main{
    display:flex;
    align-items: center;
    height:700px;
}

div.info-dev{
    height:350px;
    margin-left:100px;
}

h2{
    color:rgb(255, 166, 0);
    font-size:1.6em;
    text-shadow: 2px 2px 15px black;
}

h1{
    width:500px;
    font-size: 3.2em;
    text-shadow: 0px 0px 13px black;
    color:white;
}

h1::after{
    content: '|';
    color:white;
    opacity:1;
    margin-left: 5px;
    text-shadow: 0px 0px 13px black;
    animation: pisca .7s infinite;
}

@keyframes pisca{
    0%{
        opacity:1;
    }
    50%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

div.text-info{
    width:500px;
    margin: 5px auto 30px auto;
    color:rgb(235, 223, 192);
    font-size:1.2em;
    text-shadow: 1px 1px 20px black;
}

div.buttons{
    width:500px;
    height: 45px;
    margin-top:42px;
}

button{
    height:45px;
    width:150px;
    padding:7.5px;
    background: none;
    border-radius: 8px;
    border:3px solid white;
    color:white;
    font-size:1.1em;
    font-weight:bold;
    transition: 0.4s;
}

button:hover{
    background:rgb(180, 124, 19);
    border:3px solid rgb(180, 124, 19);
}

button#cv-btn{
    margin-left:20px;
}

footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:70px;
    background-color: rgb(255, 250, 250);
}

footer > p{
    color:rgb(32, 32, 32);
    font-weight:700;
}

