
/* Main content */
.main__info{
    display:flex;
    align-items: center;
    height:100vh;
    opacity: 0;
    transition: opacity 2s;
}
.main__info.loaded{
    opacity: 1;
}
.main__info__dev{
    height:350px;
    margin-left:100px;
}
.main__info__dev__presentation{
    color:rgb(255, 166, 0);
    font-size:1.6em;
    text-shadow: 2px 2px 15px black;
}
.main__info__dev__name{
    width:500px;
    font-size: 3.2em;
    text-shadow: 0px 0px 13px black;
    color:white;
}
.main__info__dev__name::after{
    content: '|';
    color:white;
    opacity:1;
    margin-left: 5px;
    text-shadow: 0px 0px 13px black;
    animation: pisca .7s infinite;
}
@keyframes pisca{
    0%{
        opacity:1;
    }
    50%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.main__info__dev__text__info{
    width:500px;
    margin: 5px auto 30px auto;
    color:rgb(235, 223, 192);
    font-size:1.2em;
    text-shadow: 1px 1px 20px black;
}
.main__info__dev__professional{
    width:500px;
    height: 45px;
    margin-top:42px;
}
.linkedln__button, .download__cv__button{
    height:45px;
    width:40%;
    padding:7.5px;
    background: none;
    border-radius: 8px;
    border:3px solid white;
    color:white;
    font-size:1.1em;
    font-weight:bold;
    transition: 0.4s;
}
.linkedln__button:hover, .download__cv__button:hover{
    background:rgb(180, 124, 19);
    border:3px solid rgb(180, 124, 19);
    cursor:pointer;
}
.download__cv__button{
    margin-left:20px;
}

/* Mobile */
@media only screen and (max-width:672px){

    /* Main content mobile */
    .main__info{
        height:fill-available;
    }
    .main__info__dev{
        width:92vw;
        margin:0px 4vw;
        font-size:0.8em;
    }
    .main__info__dev__name{
        font-size:2.6em;
    }
    .main__info__dev__text__info{
        width:100%;
        text-align:justify;
    }
    .main__info__dev__professional{
        display:flex;
        justify-content:space-between;
        width:100%;
    }
    .linkedln__button, .download__cv__button{
        width:46%;
    }
    .download__cv__button{
        margin:0;
    }
    .website__information{
        font-size:0.8em;
    }
}