
/* Main content */
.main__info{
    background-image: url('../../common-style-configs/common-style-background/cutted_background.png');
    background-size: cover;
    background-position: 100% 50%;
    display:flex;
    align-items: center;
    height:105vh;
    opacity: 0;
    transition: opacity 2s;
}
.main__info.loaded{
    opacity: 1;
}
.main__info__dev{
    height:350px;
    width:40%;
    margin-left:4%;
}
.main__info__dev__presentation{
    color:rgb(255, 166, 0);
    font-size:1.7em;
    text-shadow: 2px 2px 15px black;
}
.main__info__dev__name{
    width:100%;
    font-size: 3.2em;
    text-shadow: 0px 0px 13px black;
    color:white;
}
.main__info__dev__name::after{
    content: '|';
    color:white;
    opacity:1;
    margin-left: 5px;
    text-shadow: 0px 0px 13px black;
    animation: pisca .7s infinite;
}
@keyframes pisca{
    0%{
        opacity:1;
    }
    50%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.main__info__dev__text__info{
    width:100%;
    margin: 5px 0px 30px 0px;
    color:rgb(245, 238, 224);
    font-size: 1.2em;
    text-shadow: 0px 0px 2px black;
    text-align:justify;
}
.main__info__dev__professional{
    width:100%;
    height: 45px;
    margin-top:42px;
}
.linkedln__button, .download__cv__button{
    height:45px;
    width:40%;
    padding:7.5px;
    background: none;
    border-radius: 8px;
    border:3px solid white;
    color:white;
    font-size:1.1em;
    font-weight:bold;
    transition: 0.4s;
}
.linkedln__button:hover, .download__cv__button:hover{
    background:rgb(180, 124, 19);
    border:3px solid rgb(180, 124, 19);
    cursor:pointer;
}
.download__cv__button{
    margin-left:20px;
}


@media only screen and (max-width: 1330px) and (min-width:1223px){
    .main__info__dev {
        margin-left: 3%;
        width:35%;
    }
}

/* Tablets */
@media only screen and (max-width:1222px) and (min-width:929px){
    body {
        background: url('../../common-style-configs/common-style-background/pexels-pixabay-220201.jpg');
        background-attachment: fixed;
    }
    .main__info{
        background-image: none;
    }
    .main__info__dev{
        height:350px;
        width:60%;
        margin-left:5%;
    }
    .main__info__dev__text__info{
        font-size: 1.3em;
        text-shadow: 0px 0px 15px black;
        font-weight: 500;
    }
    
}

/* Mobile */
@media only screen and (max-width:928px){
    body{
        width:100%;
        height:100%;
        margin:0px;
        max-width: 100%;
        overflow-x: hidden;
        background: url('../../common-style-configs/common-style-background/pexels-pixabay-220201.jpg');
        background-color: #282a2c; 
        background-size: cover;
        background-attachment: fixed;
    }
    /* Main content mobile */
    .main__info{
        background-image: none;
        height:fill-available;
    }
    .main__info__dev{
        width:92vw;
        margin:0px 4vw;
        font-size:1em;
    }
    .main__info__dev__name{
        font-size:2.6em;
    }
    .main__info__dev__text__info{
        width:100%;
        font-size: 1.2em;
        text-shadow: 0px 0px 15px black;
        text-align:justify;
    }
    .main__info__dev__professional{
        display:flex;
        justify-content:space-between;
        width:100%;
    }
    .linkedln__button, .download__cv__button{
        width:46%;
    }
    .download__cv__button{
        margin:0;
    }
    .website__information{
        font-size:0.9em;
    }
}